# This is a basic workflow to help you get started with Actions

name: Generate softmanual of SAW and StereoMap

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  # push:
  #   branches: [ "main" ]
  # pull_request:
  #   branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch
    # inputs:
    #   branch:
    #     description: "选择分支"
    #     required: true
    #     default: "v0.0.1"

env:
  ROOT_DIR: /Users/huifang/github/build_software_manual
  NODE_MODULES_DIR: /Users/huifang/github/node_modules

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: self-hosted

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      # - uses: actions/checkout@$stereo-seq-mask-file-cn

      # Enter directory of codes
      - name: Enter dir
        run: cd $ROOT_DIR

      # Switch to the specified branch and pull newest codes
      - name: Checkout and Pull
        run: git pull &&  git checkout stereo-seq-mask-file-cn && git pull

      # Copy node_modules 
      - name: Copy node_modules
        run: cp $NODE_MODULES_DIR ./

      # Replace H\&E to H&E
      # - name: Replace H\&E to H&E
      #   run: |
      #     sed -i '' 's|H\&E|H&E|g' `grep H\&E -rl docs`

      # Runs a command to generate _book
      - name: Generate _book
        run: gitbook build

      # Replace 
      - name: Replace 
        run: |
          mv _book docs
          mv docs/.gitbook docs/img
          sed -i '' 's/mark{background:#fff/mark{background:#fff/g' `grep mark{background:#fff -rl docs`
          sed -i '' 's|img/assets|img/assets|g' `grep img/assets -rl docs`

      # Runs a single command using the runners shell
      # - name: Run a one-line script
      #   run: echo Hello, world!

      # Runs a set of commands using the runners shell
      # - name: Run a multi-line script
      #   run: |
      #     echo Add other actions to build,
      #     echo test, and deploy your project.